* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: #dedede;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 110%;
  font-weight: 100;
  overflow-x: hidden;
}

body {
  margin: 0 auto !important;
  max-width: 720px;
  padding-bottom: 30%;
}

h3 {
  text-transform: uppercase;
}

figure {
  margin: 0 .2rem;
}

div {
  position: relative;
  /* padding: 1% 5%; */
}

header {
  padding: 3% 30%;
}

.header-briefing {
  background: #d7d7d7;
}

input,
button {
  outline: none;
}

.painelProposta,
.painelInteressadoAgradecimento,
.painelJustificativa,
.painelDesinteressadoAgradecimento1,
.painelDesinteressadoAgradecimento2 {
  -webkit-animation-timing-function: cubic-bezier(.3, 1, .3, 1.3);
  animation-timing-function: cubic-bezier(.3, 1, .3, 1.3);
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.header-briefing > .right,
.header-briefing > .left {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.i-amphtml-fill-content {
  display: initial !important;
}

.header-briefing amp-img {
  margin: 4px;
  border-radius: 50px;
}

.titulo {
  width: 100%;
  display: block;
  padding: 0 1%;
}

.header-briefing {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.i-amphtml-accordion-header,
amp-accordion > section[expanded] > :last-child {
  padding: 5px 5%;
}

.header-briefing section {
  clear: both;
}

button {
  margin: 5% 0;
  border: unset;
  border-radius: 50px;
  width: 45%;
  height: 47px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05rem;
  /* line-height: 47px; */
  font-size: .7rem;
  letter-spacing: .06rem;
}

.painelProposta button {
  position: relative;
  width: 100%;
  background: white;
  color: #4acfa4;
  margin: 26px 0;
  height: 41px;
  font-size: 1.1rem;
}

.painelProposta,
.painelInteressadoAgradecimento,
.painelJustificativa,
.painelDesinteressadoAgradecimento1,
.painelDesinteressadoAgradecimento2 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  position: fixed;
  background: #4acfa4;
  color: white;
  width: 100%;
  bottom: 0;
  padding: 10% 5%;
}

.painelJustificativa {
  height: 30%;
  vertical-align: middle;
  text-align: center;
}

.painelJustificativa {
  background: #f34a6a;
}

.painelJustificativa h3 {
  display: block;
  margin: 0 auto;
  padding: 10%;
  font-size: 1.5rem;
}

.painelJustificativa h2,
.painelInteressadoAgradecimento h2,
.painelDesinteressadoAgradecimento1 h2,
.painelDesinteressadoAgradecimento2 h2 {
  font-weight: 100 !important;
}

.painelJustificativa button {
  width: 100%;
  margin: 10px 0;
  background: transparent;
  border: .2rem solid white;
}

textarea {
  position: initial;
  clear: both;
}

label,
textarea {
  color: white;
  background: unset;
  resize: none;
  border: 2px solid white;
  width: 100%;
  clear: both;
  display: block;
  margin: 6px 0;
  padding: 1rem;
  border-radius: 5px;
}

small {
  opacity: 0.6;
  font-style: italic;
}

input {
  background: unset;
  border: unset;
  color: white;
}

label {
  padding: 2%;
}

input[type=number] {
  padding: 0 3%;
  display: inline;
  width: 50%;
}

input.valor::before {
  content: 'R$';
  position: relative;
}

#alert {
  padding: 2%;
  background: #f34a6a;
}

.interessadoButton {
  position: absolute;
  background: #4acfa4;
  left: 1%;
}

.desinteressadoButton {
  position: absolute;
  background: #f34a6a;
  right: 1%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-moz-outer-spin-button,
input[type=number]::-moz-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
@media screen and (max-height: 400px) {
  .painelProposta {
    position: absolute;
    top: 0;
    bottom: unset;
  }
}
