html {
    height: 100%;
}

    html body {
        height: 100%;
        overflow: hidden;
        background-color: #dedede;
    }

        html body .container-fluid.body-content {
            position: absolute;
            top: 200px;
            bottom: 200px;
            right: 0;
            left: 0;
            overflow-y: auto;
            
        }

#interesse {
    background-color: #4acfa4
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4C4;
    height: 200px;
}